<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Tekuna</title>
{{ template "navbar_admin" . }}

{{ range .data }}
<div class="container">
    <h2>{{ .Judul }}</h2>
    <a href="/admin/edit/{{ .ID }}">Edit</a> |
    <a href="/admin/delete/{{ .ID }}">Hapus</a>
    <hr>
</div>
{{ end }}
<div class="container">
    <div class="pagination">

        {{ if gt .page 1 }}
            <a href="/admin?page={{ sub .page 1 }}">← Prev</a>
        {{ end }}

        <span>Page {{ .page }} / {{ .totalPage }}</span>

        {{ if lt .page .totalPage }}
            <a href="/admin?page={{ add .page 1 }}">Next →</a>
        {{ end }}

    </div>
</div>
</body>
</html>