<!DOCTYPE html>
<html>
<head>
    <title>Tambah Berita</title>

    <!-- TinyMCE -->
    <script src="https://cdn.jsdelivr.net/npm/tinymce@6/tinymce.min.js"></script>

    <script>
    tinymce.init({
        selector: 'textarea',
        height: 300,
        plugins: 'lists link image code',
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | bullist numlist | link image | code'
    });
    </script>
    {{ template "navbar_admin" . }}

<h2 style="text-align: center;">Tambah Berita</h2>
<div class="container">
    <form action="/admin/create" method="POST" enctype="multipart/form-data">
        Judul:<br>
        <input type="text" name="judul"><br><br>

        Isi:<br>
        <textarea name="isi"></textarea><br><br>

        Gambar:<br>
        <input type="file" name="gambar"><br><br>

        <button type="submit">Simpan</button>
    </form>
</div>
</body>
</html>