{{ define "head" }}
<head>
    <title>{{ $.Title }}</title>
    <meta name="google-site-verification" content="gpEReDztkwU4VONsjBpGTc_cVd56ICiM-OxZEY0y7cM" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ metaDesc .Description }}">
    <meta property="og:image" content="{{if .Image}}{{.Image}}{{else}}https://tekuna.my.id/favicon.png{{end}}">
    <!--<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">-->
    <link rel="preload" href="/static/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <!--<script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>-->
</head>
{{ end }}
