{{ define "navbar" }}
<body class="bg-gray-100 font-sans m-0">

    <div class="bg-blue-600 shadow-md sticky top-0 z-50">
        <div class="max-w-5xl mx-auto px-4 py-3 flex items-center justify-center">

            <a href="/">
                <img 
                    src="https://sjhqjzxylogbmsshixke.supabase.co/storage/v1/object/public/images/logo.png"
                    class="h-8 md:h-10 object-contain"
                    alt="logo"
                >
            </a>

        </div>
    </div>

{{ end }}
